  
body{
    margin-left: 300px;
    margin-right: 300px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.headerPic{
    float:right;
}




.sec1{
    float:right;
    width: 45%;
    background-image: url(https://raw.githubusercontent.com/LTUC/amman-201d13/main/class-10/lab-a/lab-assets/list-bg.png);
}
.sec2{
    float:left;
    width: 45%;
    background-image: url(https://raw.githubusercontent.com/LTUC/amman-201d13/main/class-10/lab-a/lab-assets/list-bg.png);
}

form{
    display:block;
    text-align: center;
}
p{
    text-align: center;
    display:inline;
   

}
button{
    background-color: rgb(253, 206, 135);
    font-family: "Lucida Console", "Courier New", monospace;
    
}
button:hover{
    color:rgb(216, 79, 0) ;
   

}